*$py.class
*.egg
*.egg-info
*.pyc
*.sublime-project
*.sublime-workspace
*.sqlite
*~
.*.sw?
.DS_Store
.Python
.coverage
.sw?
.tox/
.venv
Data.fs*
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Ss]hare
build/
ignore/
coverage
coverage.xml
dist/
env*/
nosetests.xml
pip-selfcheck.json
pyvenv.cfg
test
tmp/

geodata/
development.ini